@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Material+Symbols+Outlined');

:root {
  --var-fondo: #b5bfa7;
  --var-botones: #f4cb7c;
  --var-fondo-formulario: #243443;
  --var-blanco: #ffffff;
  --var-borde-inputs: #e0e0e0;
  --var-placeholder-color: #666666;
  --var-texto-botones: #000000;
}

body {
  background-color: var(--var-fondo);
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  color: var(--var-blanco);
  margin-bottom: 1rem;
  text-align: center;
}

.config-container {
  background-color: var(--var-fondo-formulario);
  border-radius: 20px;
  padding: 2rem;
  width: 320px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: var(--var-blanco);
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: 0.3rem;
}

input {
  background-color: var(--var-blanco);
  border: 2px solid var(--var-borde-inputs);
  padding: 0.6rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-size: 1rem;
}



button {
  background-color: var(--var-botones);
  color: var(--var-texto-botones);
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #d9a939;
}


.error-text {
  color: red;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.material-symbols-outlined {
  font-size: 24px;
  vertical-align: middle;
  color:white;
}