/* UploadAsset.css */
.upload-asset-container {
  max-width: 500px; /* Más ancho para acomodar más campos */
  margin: 2rem auto;
  padding: 2rem;
  background-color: #243443;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.upload-asset-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
textarea,
select {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="file"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--var-blanco);
}

textarea {
  resize: none;
  height: 100px;
}

button {
  background-color: #f4cb7c;
  color: #000;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d9a939;
}

.error-text {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.success-text {
  color: green;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

